// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note {
    margin: 9px;
    width: 32em;
}

.note-author {
    font-style: italic;
}

.note-author:before {
    content: 'by: ';
}